.button {
    height: 100px;
    width: 200px;
    cursor: pointer;
    margin-bottom: 50px;
}
.divider {
    display: inline-block;
    width: 50px;
}
.container {
    justify-content: space-between;
    margin-top: 50px;
}
.subContent {
    display: flex;
    justify-content: center;
}